body{
  margin:0;
}

html{
  scroll-behavior: smooth;
}

a{
  text-decoration:none;
}


header{
  z-index:3;
  height:50px;
  background:rgb(168, 57, 57);
  position:fixed;
  border-bottom:2px solid rgb(32, 37, 37);
  width:100%;
}

.nav-link{
  margin:0;
  color:white;
  font-family: 'Marcellus SC', serif;
  line-height: 50px;
  font-size:24px;
  flex-basis: 1.5em;
  padding-left:1.5em;
  padding-right:1.5em;
  text-align: center;
}

.nav-link:hover{
  animation-name:nav-anim;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

.nav-list{
  margin:0px;
  padding:0;
  list-style-type:none;
  display:flex;
  justify-content: flex-end;
  flex-direction: row;
}

.welcome-section{
  width:100%;
  margin:0;
  height:100vh;
  background:rgb(32, 37, 37);
  color:white;
  text-align:center;
}

.welcome-section h1,.welcome-section h3{
  position:relative;
  top:45vh;
}

.welcome-section h1{
  font-size:50px;
  font-family: 'Marcellus SC', serif;
  letter-spacing: 2px;
  font-weight: 700;
}

.welcome-section h3{
  font-size:30px;
  font-family: 'Indie Flower', cursive;
  margin-top:-20px;
  color:rgb(221, 63, 52);
  font-weight:normal;
}

.projects{
  padding-top:70px;
  background:linear-gradient(-75deg,#3399FF,#CCFF66);
  display: flex;
  flex-direction: column;
}

.project-h{
  color:white;
  align-self: center;
}

.project-h h2{
  margin:40px 0;
  letter-spacing: 2px;
  font-weight: 800;
  font-family: 'Marcellus SC', serif;
  border-bottom:1px solid white;
  font-size: 35px;
}

.project-links{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom:40px;
}


.project-link{
  display: flex;
  height:400px;
  width:350px;
  margin:30px 20px 40px 20px;
  flex-direction: column;
  color:white;
  border:1px solid black;
  box-shadow: 3px 3px 2px rgb(32, 37, 37);
  box-shadow: 6px 6px 10px rgb(32, 37, 37);
}

.project-name{
  height:100px;
  background:rgb(32, 37, 37);
  font-family: 'Yanone Kaffeesatz', sans-serif;
  letter-spacing: 2px;
  text-align:center;
}

.project-name span{
  display:inline-block;
  line-height: 100px;
  font-size:20px;
}

.projectspan{
  font-weight:900;
  color:rgb(32, 37, 37);
}

.project-link:hover .projectspan{
  animation-name:project-active;
  animation-duration:500ms;
  animation-fill-mode: forwards;
}

#p7{
  background:url("./images/teachersdiary.png");
  background-repeat: no-repeat;
  background-size: 350px 300px;
}

#p7:hover{
  background: url('./gifs/demoteachers.gif');
  background-repeat: no-repeat;
  background-size: 350px 300px;
}

#p6{
  background:url("./images/faccountry.png");
  background-repeat: no-repeat;
  background-size: 350px 300px;
}

#p6:hover{
  background: url('./gifs/demofaccountry.gif');
  background-repeat: no-repeat;
  background-size: 350px 300px;
}

#p1{
  background:url("./images/intervtimer.png");
  background-repeat: no-repeat;
  background-size: 350px 300px;
}

#p1:hover{
  background: url('./gifs/demotimer.gif');
  background-size: 350px 300px;
  background-color: #022c43;
  background-repeat: no-repeat;
}


.project-ss{
  height:300px;
  width:350px;
}

.blog-ss{
  height:150px;
  width:300px;
}

.blog-link{
  width:300px;
  height:220px;
}

.blog-name{
  height:70px;
  padding-top: 20px;
}

.blog-name span{
  line-height: unset;
}


#education{
  height:600px;
  background:rgb(200,200,200);
}

.contact-links ul{
  list-style-type:none;
  padding-left:0;
}

#contact{
  height:90vh;
  background:rgb(32, 37, 37);
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.contact-links{
  justify-self: flex-start;
  flex-basis:40vh;
  width:100%;
}

.contact-msg{
  align-self: center;
  color:white;
  text-align: center;
}

.contact-msg h2{
  font-size:60px;
  letter-spacing: 2px;
  font-family: 'Marcellus SC', serif;
  margin-bottom:10px
}

.contact-msg h3{
  font-size:20px;
  font-weight:normal;
  font-family: 'Marcellus SC', serif;
  margin-top:0;
}

.contact-links ul{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-link{
  color:white;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  letter-spacing: 1px;
  display:inline-block;
  padding:20px 30px;
  font-size:20px;
}

.icon{
  position:relative;
  top:6px;
  height:1.5em;
  width:1.5em;
  margin-right:4px;
}

.contact-link:hover{
  animation-name:drop-down;
  animation-duration: 700ms;
  animation-fill-mode: forwards;
}


.skills{
  padding-top:70px;
  padding-bottom: 70px;
  background:rgb(78, 97, 122); 
  display:flex;
  flex-direction: column;
  align-items: center;
}

.skills p{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size:22px;
  letter-spacing: 1px;
  margin:14px;
  color:white;
  margin-left:8%;
  align-self: flex-start;
}

.skills h2{
  margin-top:0;
  padding-top:40px;
  font-family: 'Marcellus SC', serif;
  font-size: 35px;
  border-bottom: 1px solid white;
  text-align:center;
  color:white;
}

.skill-bar{
  width:90%;
  background:#ccc;
  border:none;
  box-shadow: 2px 2px 10px rgb(32, 37, 37);
  border-radius: 6px;
}

.skill{
  padding:12px 0;
  text-align:right;
  background:rgb(43, 53, 138);
  color:white;
  padding-right: 10px;
  border-radius: 4px;
  box-shadow: 1px 0px 8px rgb(32, 37, 37);
}

.cpp{
  width:80%;
}
.java{
  width:60%;
}
.js{
  width:60%;
}
.react{
  width:50%;
}
.express{
  width:50%;
}
.html{
  width:60%;
}
.des{
  width:50%;
}
.dsa{
  width:70%;
}



footer{
  height:70px;
  background: rgb(32, 37, 37);
  border-top: 2px solid rgb(161, 47, 39);
  color:white;
  letter-spacing: 1px;
  font-size: 18px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-align: center;
}

footer a{
  color:white;
  text-decoration:underline;
}

footer p{
  line-height: 36px;
  font-size:20px;
}



@keyframes drop-down{
  50%{
    padding-top:30px;
  }
  100%{
    padding-top:24px;
  }
}

@keyframes project-active{
  100%{
    color:rgb(255, 124, 47);
  }
}


@keyframes nav-anim{
  100%{
    background:rgb(32, 37, 37);
  }
}

@media only screen and (max-width:850px){
  .nav-list{
    justify-content:center;
  }
  .nav-link{
    font-size:0.9em;
  }
  #welcome-section h1{
    font-size:30px;
  }
  #welcome-section h3{
    font-size:20px;
  }
  .project-h h2{
    font-size:20px;
  }
  .contact-msg h2{
    font-size:40px;
  }
  .contact-msg h3{
    font-size:16px;
  }
  .project-link{
    height:350px;
    width:300px;
  }
  .project-ss{
    height:280px;
    width:300px;
  }
  .project-name{
    height:70px;
  }
  .project-name span{
    line-height: 70px;
  }
  #p7{
    background-size: 300px 280px;
  }
  
  #p7:hover{
    background-size: 300px 200px;
  }
  
  #p6{
    background-size: 300px 280px;
  }
  
  #p6:hover{
    background-size: 300px 230px;
  }
  
  #p1{
    background-size: 300px 280px;
  }
  
  #p1:hover{
    background-size: 300px 280px;
  }
  
}
